.order {
  align-items: center;
  background-color: white;
  box-shadow: 5px 10px;
  display: flex;
  justify-content: space-around;
  margin: 20px 0 20px 0;
  width: 90%;
}

.order-img {
  height: 100px;
  width: 100px;
}

.price {
  font-weight: bold;
}

.content-wrapper {
  width: 60%;
}

.button-wrapper {
  width: 10%;
}

.order-btn {
  background-color: red;
  color: white;
  height: 30px;
  width: 100%;
}